{% extends "searchPage/header.html" %}


{% block content %}

{% if alert == 'success' %}
  <div class="alert alert-success alert-dismissible" role="alert">
    Added Activity Successfully!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% elif alert == 'failure' %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    Failed to add Activity.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

<h1> Optimize Leisure </h1>
<br/>
<br/>

<h2> Find Activity </h2>
<form action="results" method="post">
  <p> How much timd do you have? </p>
    {% csrf_token %}
    {{ findForm }}
  <input type="submit" value="Find">
</form>
<button id="resultsBtn">All Activities</button>

<br/>
<br/>

<h2> Add Activity </h2>
<form action="" method="post">
    {% csrf_token %}
    {{ addForm }}
  <input type="submit" value="Add">
</form>

{% endblock %}
